@main("Play String Hystrix Sample") {

<div class="container">

	<div class="row text-center">
		<h1>Play, Spring and Hystrix!</h1>
		
		<br /><br />
		
		<p class="lead">Execute the service below and check the <a href="http://hystrix-dashboard.herokuapp.com/monitor/monitor.html?stream=http%3A%2F%2Fplay-spring-hystrix.herokuapp.com%2Fhystrix.stream&delay=500&title=Play%2C%20Spring%20and%20Hystrix" target="_blank">Hystrix Dashboard</a></p>
		
		<br /><br />
		
	</div>


	<div class="row">
	
		<div class="col-sm-6">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-sm-2 control-label">Service</label>
					<div class="col-sm-10">
						<label class="form-control">Sleep</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Executions</label>
					<div class="col-sm-10">
						<input id="sleepExecutions" type="text" class="form-control" value="100">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button id="btnSleep" type="button" class="btn btn-primary">Go!</button>
					</div>
				</div>
			</form>		
		</div>
		
		<div class="col-sm-6">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-sm-2 control-label">Service</label>
					<div class="col-sm-10">
						<label class="form-control">Random Error</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Executions</label>
					<div class="col-sm-10">
						<input id="randomExecutions" type="text" class="form-control" value="100">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button id="btnRandom" type="button" class="btn btn-primary">Go!</button>
					</div>
				</div>
			</form>		
		</div>		

	</div>

</div>


<script type="text/javascript">

$(function(){
	
	$("#btnRandom").bind("click", function(){
	
		var randomExecutions = parseInt($("#randomExecutions").val()) 
		
		for (var i = 0; i < randomExecutions; i++) {
		  (function (i) {
			  ajax_url = "/random?_new=" + i;
			  $.ajax({ url: ajax_url });			  
		  })(i);
		}		
	});
	
	
	$("#btnSleep").bind("click", function(){
		
		var randomExecutions = parseInt($("#sleepExecutions").val()) 
		
		for (var i = 0; i < randomExecutions; i++) {
		  (function (i) {
			  ajax_url = "/sleep?duration=500&_new=" + i;
			  $.ajax({ url: ajax_url });			  
		  })(i);
		}		
	});	
	
	
});

</script>


}
